.container {
	background-color: rgba(0, 0, 0, 0.85);
	width: 100%;
	min-height: 100vh;
}

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 20px 60px;
}

/******************************************************************************/
/* Swap Container */
.appBody {
	height: 100%;
	padding-top: 80px;
}

.swapContainer {
	background-color: rgb(203, 231, 240);
	width: 440px;
	height: 350px;
	margin: 0 auto;
	top: 50%;
	border-radius: 24px;
	border: 1px solid #fff;
	padding: 6px;
}

.swapHeader {
	text-align: left;
	padding: 4px 20px 0px 20px;
}

.swapText {
	color: #000;
	font-size: 20px;
}

.gearContainer {
	float: right;
	font-size: 22px;
}

/******************************************************************************/
/* Currency Input */
.currencyInput {
	background-color: rgb(217, 236, 242);
	margin: 10px !important;
	padding: 10px;
	border-radius: 20px;
	border-color: transparent !important;
	border: 1px solid;
}
.currencyInput:hover {
	border-color: #65cdee !important;
	border: 1px solid;
}
::placeholder {
	opacity: 0.25;
}
.numberContainer {
	text-align: left;
}
.spinnerContainer {
	height: 55px;
	line-height: 55px;
}
.currencyInputField {
	font-size: 28px;
	display: inline-block;
	width: 100%;
	border: none;
	background-color: rgb(217, 236, 242);
}
.tokenContainer {
	text-align: right;
}
.tokenName {
	font-size: 28px;
	display: block;
	color: #000;
}
.balanceContainer {
	display: block;
}
.balanceAmount {
	width: 100%;
	font-size: 16px;
	display: inline;
	color: #000;
}

/******************************************************************************/
/* Ratio */
.ratioContainer {
	text-align: left;
	margin-left: 10px;
	height: 28px;
}

/******************************************************************************/
/* Swap Button */
.swapButtonContainer {
	margin: 10px;
}
.swapButton {
	height: 55px;
	line-height: 55px;
	font-size: 24px;
	color: #fff;
	border-radius: 20px;
	background-color: #dd2f81;
	cursor: pointer;
	text-align: center;
}

html *::-webkit-scrollbar {
	border-radius: 0;
	width: 8px;
}
html *::-webkit-scrollbar {
	border-radius: 0;
	width: 8px;
}
html *::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0);
}
